{{% extends 'web_page/layout/_base.html' %}
{% block title %}Add Label{% endblock %}
{% block body %}
    <form method="post" style="margin-top: 20px">
        {% csrf_token %}

        <input type="text" name="sender" placeholder="sender">
        <input type="text" name="word" placeholder="word">

            <label><b>Label</b></label>

        <select name="selected_label" >

            {% for q in query %}
            <option>{{ q }}</option>
            {% endfor %}

        </select>

        <div style="margin-top: 30px">
            <input type="submit" value="Submit?">
        </div>


    </form>

{% endblock body %}